.footer {
    background-color: #e76c6c;
    color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px; 
    transition: 0.3s; 
    z-index: 1000; 
    height: 40px;
    
}

.footer.hidden {
    transform: translateY(100%); 
}

.left-content {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100px; /* tmnho logo */
    margin-right: 10px;
    max-height:80px;
}

p {
    margin: 0;
}
