.link {
  cursor: pointer;
}

.card-img-top {
  max-height: 400px;
  object-fit: contain;
}

.card {
  background-color: white;
  border: none;

}

.home-container {
  background-color: white;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.search-button {
  color: black;
  background-color: #fc5656;
  border: none;
  margin-left: 5px;
}

.search-input {
  background-color: #d9d9d9;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

.col-2:nth-child(odd) img {
  margin-top: 0px;
}

.col-2:nth-child(even) img {
  margin-top: 0px;
}

.col-1 img {
  margin-top: 10px; /* Ajusta la distancia desde la parte superior */
  max-width: 350px; /* Ajusta el ancho máximo según tus preferencias */
}



/* Estilos para las imágenes de productos */
.col-2 img {
  width: 100%; /* Ancho del 100% del contenedor */
  height: 300px; /* Altura fija de 300px */
  object-fit: cover; /* Ajusta la imagen manteniendo la relación de aspecto */
}
