.details-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 36px;
  margin: 0 auto;
}

.back-button img {
  width: 24px;
  cursor: pointer;
}

p {
  font-size: 18px;
}

.image-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-image-detalle {
  object-fit: contain;
  height: 100%;
  max-height: 400px;
}

.first-image img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.description-det {
  font-size: 12px;
}

.other-images {
  margin-top: 10px;
}

.other-images img {
  max-width: 80px;
  height: auto;
  margin-bottom: 10px; 
  cursor: pointer;
  transition: opacity 0.3s;
}

.other-images img:hover {
  opacity: 0.7;
}

.more-images button {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 800px;
}

.modal-content img {
  width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

.close,
.modal-prev,
.modal-next {
  color: #fff;
  font-size: 36px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
}

.close {
  right: 20px;
}

.modal-prev {
  left: 20px;
}

.modal-next {
  right: 20px;
}

.back-button {
  cursor: pointer;
  font-size: 24px;
}

.image-count {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
  color: #666;
}

.arrow-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-buttons .arrow-left,
.arrow-buttons .arrow-right {
  font-size: 24px;
  cursor: pointer;
  color: #007bff;
  margin: 0 20px;
}

.arrow-buttons .arrow-left:hover,
.arrow-buttons .arrow-right:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .details-container {
    padding: 10px;
  }

  .header h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

.thumbnail-container {
  display: flex;
  flex-wrap: wrap; 
  margin-top: 10px;
  justify-content: center; 
}

.thumbnail {
  width: 80px;
  height: 60px;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbnail.active {
  border-color: #007bff; 
}

.thumbnail:hover {
  border-color: #0056b3; 
}

.col-md-4 {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.react-datepicker {
  width: 100% !important;
  max-width: 100% !important;
  border: none !important;
  box-shadow: none !important;
  font-family: Arial, sans-serif !important;
  background-color: transparent !important;
}

.btn-primary {
  width: 100% !important;
  max-width: 150px !important; 
  margin-top: 10px !important; 
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  border: none !important; 
  background: none !important;
  color: #007bff !important; 
  font-size: 1.8rem !important; 
  cursor: pointer !important; 
}

.react-datepicker__navigation--previous:hover,
.react-datepicker__navigation--next:hover {
  color: #0056b3 !important; 
}

@media (max-width: 768px) {
  .thumbnail {
    width: 60px;
    height: 45px;
    margin-right: 5px;
  }
}
