.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-list {
  list-style: none;
  padding: 0;
  margin-top: 40px; 
}

.product-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.product-list li img {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.product-actions {
  display: flex;
  align-items: center;
}

.product-actions button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.add-button {
  position: absolute; 
  top: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  z-index: 2; 
}


.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}


.modal {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background-color: #fff !important;
  padding: 20px !important;
  border-radius: 10px !important;
  max-width: 400px !important; 
}