.lista-de-datos.listar-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .listar-productos h2, .listar-productos th {
    color: white;
  }
  
  .listar-productos table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .listar-productos th, .listar-productos td {
    padding: 10px;
    border: 1px solid white;
  }
  